* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
}

nav,
aside,
main {
  border: 1px solid;
}

nav,
aside {
  width: 200px;
}

main {
  flex: 1;
}
