.container {
  background-color: lightskyblue;
  display: flex;

  width: 600px;
  height: 700px;

  justify-content: center;
  align-items: center;
}

.item {
  width: 100px;
  height: 100px;
  background-color: rebeccapurple;
}
